/* Info Board */
#info .content {
  padding: 0;
}

#info .content div:nth-of-type(1) { /* Title */
  padding: 0.4rem;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
}

#info .content div:nth-of-type(2) { /* Value */
  padding: 0.8rem;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
  font-size: 2rem;
}

#info p {
  margin: 0;
  text-align: center;
}

#time-board {
  font-weight: bold;
  text-align: center;
  line-height: 2.5rem;
}

#start-time {
  text-align: center;
  width: 5rem;
}

/* Table */

table {
  width: 100%;
}

.table td {
  vertical-align: middle;
}

.table th {
  text-align: center;
}

.table td:not(:nth-of-type(2)),
.table td:not(:nth-of-type(2)) input {
  text-align: center;
}

.table td:nth-of-type(2) {
  padding: 0.05rem 0 !important;
}

table th:nth-of-type(1) { width: 2%; }
table th:nth-of-type(2) { width: 38%; }
table th:nth-of-type(3) { width: 12%; }
table th:nth-of-type(4) { width: 12%; }
table th:nth-of-type(5) { width: 12%; }
table th:nth-of-type(6) { width: 12%; }
table th:nth-of-type(7) { width: 12%; }

.remove {
  cursor: pointer;
}



/* Checkbox */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #3273dc;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active::after {
  width: 70px;
}
